@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Public Sans', sans-serif;;
}

h1 {
  margin: 0;
}

body {
  background-color: white;
  color: black;
  margin: 0;
  overflow-x: hidden;
}

ul{
  margin: 0;
  padding: 0;
}

.navigation {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-box {
  position: sticky;
}

.nav-link {
  padding: 10px;
  width: 100px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.first-section {
  /* position: relative; */
  /* height: 65vh; */
  width: 100%;
  margin: 0 auto;
  display: block;
  padding-top: 7%;
  padding-bottom: 12%;
}


.wrap-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navbar-section {
  width: 100%;
  text-transform: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background-color: rgb(22 22 22/.4);
}

h5 {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
}

.cluster-links {
  margin-right: 50px;
}

.logo-section {
  display: flex;
  align-items: center;
}

.title-logo {
  font-weight: 700;
}

.logo-image {
  width: 50px;
  padding-right: 20px;
  padding-left: 20px;
}


.first-section.image {
  position: absolute;
  z-index: -10;
  height: 100%;
}

.logo-name {
  font-size: 1.5rem;
  font-weight: 700;
}

.nav-link {
  font-weight: 700;
}

.title {
  font-size: 4rem;
  width: 35%;
  margin-bottom: 30px;
}

.arden-button {
  margin-top: 15px;
  cursor: pointer;
  width: 160px;
  height: 50px;
  border-radius: 25px;
  background-image: linear-gradient(120deg, #39cdff 10%,#8b6ffb 50%, #fb63eb 100%);
  font-weight: bold;
  font-size: 16px;
  border: 1px solid #ffc1f9;
  color: white;
  transition: 0.5s;
  box-shadow: 4px 4px linear-gradient(120deg, #b2ecff 10%,#c9bbff 50%, #ffc1f9 100%);
}

.arden-button:hover {
  transition: 0.5s;
  box-shadow: 4px 4px linear-gradient(120deg, #b2ecff 10%,#c9bbff 50%, #ffc1f9 100%);
}

.arden-button a {
  color: black;
}

.title-card {
  font-size: 18px;
  font-weight: 700;
}

a {
  text-decoration: none;
}

.subtitle {
  color: black;
  width: 500px;
  font-weight: 300;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 1.0825rem;
}

.dark-mode-button {
  border-radius: 9999px;
  border-width: 1px;
  border: 1px solid #2f2f2f;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #202020;
}

.dark-mode-button:hover {
  background-color: #404040;
}

.featured-title {
  font-size: 3rem;
  text-transform: capitalize;
  text-align: center;
  padding-bottom: 7%;
}

.left-box {
  margin-right: 13px;

}

.right-box {
  margin-left: 13px;
}

.drawer-button {
  display: none;
}

.gradient-ardent {
  background-size: 250% 250%;
  background-image:radial-gradient(91.36% 358.74% at 12.29% 100%,#8b6ffb 0,#39cdff 30.08%,#fb63eb 60.28%,#ffe357 100%);
  animation: gradient 5s ease-in-out infinite;
  background-clip: text;
  color: transparent;
  font-weight: 800;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

.second-section {
  padding-top: 7%;
  padding-bottom: 7%;
  text-align: center;
}

.second-section p {
  color: rgb(126, 126, 126, 1);
}

.first-box {
  background-color: #f8f8f8;
  width: 910px;
  height: 225px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.first-box {
  border-radius: 25px;
}

.title.second {
  text-transform: capitalize;
}

.second-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 910px;
  height: 250px;
  margin-top: 20px;
}

.gallery-section {
  margin: 0 auto;
  text-align: center;
}

.faq-section {
  padding-top: 7%;
  padding-bottom: 7%;
  overflow: hidden;
}

.faq-title {
  font-size: 3rem;
}

.content-section {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-section .title {
  text-align: center;
}

.content-section p {
  color: rgb(126, 126, 126, 1);
  /* width: 50%; */
  margin: 0 auto;
}

.video-section {
  text-align: center;
  margin-bottom: 100px;
}

.video-display {
  width: 640px;
}

.content-section .subtitle {
  text-align: center;
}

.title-box {
  font-size: 1.125rem;
}

.subtitle-box {
  font-size: .825rem;
}

.footer {
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
  /* overflow: hidden; */
}

.footer .title {
  padding-top: 50px;
  text-transform: capitalize;
  margin: 0 auto;
}

.footer .subtitle {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}

.content-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content-footer .title {
  width: 40%;
}

.MuiPaper-root.MuiAccordion-root {
  font-family: "Public Sans", sans-serif;
  background-color: #1c1c1c;
  color: white;
  margin-top: 10px;
  width: 500px;
}

.MuiTypography-root {
  text-align: left;
}

.MuiAccordionSummary-root {
  font-weight: bold;
}

.gallery-section .title {
  text-transform: capitalize;
}

.blur {
  position: absolute;
  width: 450px;
  z-index: -1;
}

.footer-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer-button {
  width: 250px;
  height: 40px;
  border-radius: 1rem;
  font-size: 0.825rem;
  border: none;
  font-weight: bold;
}

.footer-button.telegram {
  font-family: "Public Sans", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.footer-button.twitter {
  font-family: "Public Sans", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.footer-button.telegram, .footer-button.twitter {
  color: white;
  background-color: #269EDA;
}

.icon-logo {
  width: 25px;
}

@media screen and (max-width: 1025px) {

  .second-section {
    height: 120vh;
  }
  
}

/* iPad Mini, and Surface Pro 7 */
@media screen and (max-width: 913px) {

  .first-section.image {
    height: 65%;
  }

  .footer {
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .content-footer .title {
    width: 40%;
  }

  .second-section {
    height: 70vh;
  }
}

/* iPad Air */
@media screen and (max-width: 821px) {

  .first-section.image {
    height: 50%;
  }

  .wrap-section .title {
    width: 75%;
  }

  .wrap-section .subtitle {
    font-size: 1.3rem;
  }

  .first-box {
    width: 790px;
  }

  .second-section {
    height: 80vh;
  }

  .content-footer .title {
    width: 70%;
  }
}

@media screen and (max-width: 769px) {

  .first-section.image {
    height: 70%;
  }

  .first-box, .second-box {
    width: 700px;
  }

  .second-section {
    padding-top: 35%;
    height: 100vh;
  }

  .second-section .title {
    width: auto;
  }

  .title {
    font-size: 3rem;
  }

  #darkMode {
    display: initial;
  }

  .footer-buttons {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .footer-links {
    margin-top: 20px;
  }

  .footer {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 541px) {

  .first-box, .second-box {
    width: 500px;
  }
  
  .content-footer .title {
    width: 70%;
  }
}

@media screen and (max-width: 426px) {

  .title {
    width: auto;
  }

  .flex-boxx {
    flex-wrap: wrap;
  }

  .nav-state {
    display: none;
  }

  .theme-button {
    display: none;
  }

  .drawer-button {
    display: inline-flex;
  }

  .title-card {
    padding-top: 5%;
    padding-bottom: 20%;
  }

  .navigation-drawer {
    list-style-type: none;
  }

  .nav-link.drawer {
    margin: 0;
    text-align: left;
  }

  .second-box {
    height: 100vh;
  }

  .wrap-section .subtitle {
    width: 390px;
  }

  .upper-box {
    flex-wrap: wrap;
  }

  .left-box {
    margin-right: 0px;
  }

  .right-box {
    margin-left: 0px;
  }

  .left-box, .right-box {
    margin-top: 20px;
  }


  .first-box-description {
    text-align: left;
    padding: 40px 0px 0px 20px;
  }

  .first-box, .second-box {
    width: 350px;
    height: 400px;
    flex-direction: column;
    align-items: center;
  }

  .first-box h1, .second-box h1 {
    font-size: .825rem;
  }

  .second-section {
    height: 170vh;
  }

  .second-box {
    height: auto;
  }

  .blur {
    width: 390px;
  }

  .box-right {
    margin-top: 20px;
  }

  .box-right-description {
    text-align: left;
    padding: 40px 0px 40px 20px;
  }

  .MuiPaper-root.MuiAccordion-root {
    width: 350px;
  }

  .content-footer .title {
    width: 80%;
  }

  .content-footer .subtitle {
    width: 70%;
  }

  .video-section {
    margin-top: 100px;
  }

  .video-display {
    width: 350px;
  }
}

@media screen and (max-width: 376px) {

  .content-footer {
    width: 100%;
  }

  .wrap-section .subtitle {
    width: 325px;
  }

  .first-section.image {
    height: 35%;
  }

  .first-box {
    width: 330px;
    height: 330px;
    padding: 0px;
  }

  .first-box p {
    width: 90%;
  }
  
  .box-right .title, .box-right p {
    padding-right: 20px;
  }

  .subtitle {
    width: 75%;
  }

  .first-box, .second-box {
    width: 300px;
  }
 
  .MuiPaper-root.MuiAccordion-root {
    width: 280px;
  }

  .video-display {
    width: 330px;
  }

  .blur {
    width: 320px;
  }
}

@media screen and (max-width: 320px) {

  .wrap-section .subtitle {
    width: 300px;
  }

  .video-display {
    width: 300px;
  }

  .blur {
    width: 290px;
  }

  .video-section {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}